.page {

	position:relative;
	min-height:var(--screen-height);
	margin-right:var(--page-margin);
	margin-left:var(--page-margin);
	max-width: var(--screen-width);
}

.homepage{

}

.inner{
	display: block;
    width:100%;
    height:100%;
    min-height:var(--screen-height);
    padding: 0;
}


.content_section{
	box-sizing: border-box;
	width:100%;
	padding: var(--item-padding);
}


/* GRID LAYOUT */

:root{

}

.sidebar{
	background-color:#ffffff;

}

.sidebar_inner{
	padding:var(--item-padding);
}

.grid._25_50_25{
	display:grid;
	grid-template-columns: 25% 50% 25%;
	grid-template-rows:100%;
}


.grid._75_25{
	display:grid;
	grid-template-columns: 75% 25%;
	grid-template-rows:100%;
}

.grid._50_50{
	display:grid;
	grid-template-columns: 50% 50%;
}


.grid._15_85{
	display:grid;
	grid-template-columns: calc(var(--screen-width)/6.66) 1fr;
}

.grid.reverse{
	order:-1;
}

/*FLEXBOX LAYOUT*/

.flex_row {

	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;

}

.flex_column{
	display:flex;
	flex-direction:column;
	justify-content: flex-start;
}

.flex_row.full_width, .flex_column.full_width{
	width:100%;
	flex-wrap: nowrap;
}

.flex_1_0_auto{
	flex:1 0 auto;
}

.justify_space_between{
	justify-content: space-between;
}

.justify_center{
	justify-content: center;
}

.align_start{
	align-items:flex-start;
}

.align_end{
	align-items:flex-end;
}

.align_center{
	align-items: center;
}

.align_self_center{
	align-self:center;
}

.align_self_start{
	align-self:start;
}

/* LIGHTBOX */

.lightbox_background{
	visibility: hidden;
	z-index:-1;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color: #ffffff;
/*	background-color: #ffffffd6;*/
	opacity:0;
	width:100%;
	height:100%;
}

.lightbox_background.lightbox{
	opacity: .95;
	visibility: visible;
}


@supports ((-webkit-backdrop-filter:blur(8px)) or (backdrop-filter:blur(8px))) {
    .lightbox_background.lightbox {
        -webkit-backdrop-filter: saturate(180%) blur(20px);
        backdrop-filter: saturate(180%) blur(20px);
    }
}

.card.lightbox{
	position:absolute;
	z-index: 100;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin: 0 auto 0 auto;
	width:100%;
	height:100%;
	cursor:default;
}

.card_wrapper.lightbox{
	border:unset;
	max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.card_landscape_inner.lightbox {
	padding-top:unset;
}

.card_image.lightbox{
	width:100%;
	height:300px;
	object-fit: contain;
	position:relative;
}

.card_image.lightbox>img{
	object-fit: contain!important;
}

.lightbox_toggle{
    position: fixed;
    z-index: 150;
    width: fit-content;
    height: fit-content;
    padding:25px 15px 25px 25px;
    top: 0;
    right: 0;
    bottom: 0;
}

.reel.lightbox{
	pointer-events: none;
}

/* CARD GALLERY */

.index{
	
	display: flex;
	flex-wrap: wrap;
    height: -moz-fit-content;
    height: fit-content;

}

.card{
	box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    width: var(--card-width);
    display: flex;
    position: relative;
    cursor:pointer;
}

.card_wrapper {
    flex: 1 0 auto;
    width: calc(100% - var(--item-padding)*4 - var(--border-width)*2);
    padding: var(--item-padding);
    border: var(--border-solid);
}

.card_landscape_inner {
    padding-top: 66%;
    position: relative;
}

.card_portrait_inner {
    padding-top: 125%;
    position: relative;
}

.card_image {
	border-radius: inherit;
    width: 100%;
    height: 100%;
    display: block;
    inset: 0;
}
.card_landscape_inner>.card_image{
	position:absolute;
}

.card_image>div>img{
	display:none!important;
}

/*POST STYLING*/

.vignette{
	margin:40px;
}

@media screen and (max-width: 1150px) {

	.grid._75_25, .grid._15_85, .grid._25_50_25, .grid._50_50{
		grid-template-columns: 100%;
	}

}