.form_container{
    display: flex;
    flex-direction: column;
    width:100%;
}

.form_container > label{
    display: none;
}

.form_input {
    background: unset !important;
    border:unset;
    border-bottom: var(--border-solid)!important;
    letter-spacing: .1rem;
    margin-bottom:var(--item-padding);
}

.form_text_area{
    border:unset;
    border-bottom: var(--border-solid)!important;
    min-width:100%;
    max-width: 100%;
    min-height:150px;
}

.form_redirect{
    display: none;
}

input[type="submit" i] {
    appearance: unset;
    user-select: none;
    white-space: pre;
    align-items: unset;
    text-align: center;
    cursor: default;
    color: unset;
    background-color: unset;
    box-sizing: unset;
    padding: unset;
    border-width: unset;
    border-style: unset;
    border-color: unset;
    border-image: unset;
}