@media screen and (min-width: 1800px) {
  :root {
    /* MAX SCREEN VARIABLES*/
    --screen-width: 1750px;
    --screen-margin: auto;
  }
}

@media screen and (max-width: 1150px) {
  :root {
    --head-space: calc(var(--item-padding) * 4);

    --vignette-margin: 0;

    /* MAX SCREEN VARIABLES*/
    --screen-height: unset;

    /******GRID VARIABLES******/

    /*6 COL AUTO ROWS*/
    --6col-template-columns: 6;
    --6col-large-area: calc(var(--6col-template-columns));
    --6col-small-area: calc(var(--6col-template-columns) / var(--card-width));

    /*CARD COLUMNS*/
    --index-grid-columns: 2;

    --scroll-media-width:75%;

    /**************************/

    /* VISIBILITY*/
    --mobile-visibility: block;
    --desktop-visibility: none;
  }
}

@media screen and (max-width: 950px) {
  :root {
    --index-grid-columns: 1;
  }
}
