@media screen and (min-width: 2000px) {

	:root{

		/* MAX SCREEN VARIABLES*/
		--screen-width: 2000px;

		--page-margin:auto;



	}

}

@media screen and (max-width: 1150px) {

	:root{

		/* MAX SCREEN VARIABLES*/
		 --screen-height: unset;

	   /******GRID VARIABLES******/

	    /*6 COL AUTO ROWS*/
	    --6col-template-columns: 6;
	    --6col-large-area: calc( var(--6col-template-columns) );
	    --6col-small-area: calc( var(--6col-template-columns)/var(--card-width) );

	    /*CARD WIDTH*/
	    --card-width:2;

	    /**************************/

    	/* VISIBILITY*/
    	--mobile-visibility: block;
    	--desktop-visibility: none;

    	/*FONT SCALING*/
    	--h1-size: 2.5rem;

	}

}