body {
	font-family: 'LFT Etica Mono', sans-serif;
    font-weight:100;
    font-size: 1rem;
    letter-spacing: .1rem;
    color: #3b3b43;
    line-height: 1.4;
}

h1, h2, h3, h4 {

    font-family: 'LFT Ethica', sans-serif;
    font-weight: bold;
    letter-spacing: .2rem;
}

h1 {
    font-size: 3rem;
    color: #3b3b43;
    margin: 0.67em 0;
}

h2 {

    font-size: 2rem;
    color: #3b3b43;
    margin: 0.67em 0;
}

h3{
    font-size: 1rem;
    color: #3b3b43;
}

h4{
    font-weight:500;
    font-size: 1rem;
    color: #3b3b43;
}

button{
    font-family: inherit;
    font-weight:100;
    font-size: 1rem;
    letter-spacing: .1rem;
    color: #3b3b43;
    line-height: 1.4;
}

/*TEXT COLOR*/
.white{
    color:white;
}

/*HIGHLIGHT SELECTION*/

::selection {
    background: #FBAD18;
}

/*TEXT RENDERING*/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, a {
    text-rendering: optimizelegibility;
}