body {
	font-family: 'LFT Etica Mono', sans-serif;
    font-weight:100;
    font-size: 1rem;
    letter-spacing: .1rem;
    color: var(--theme-text-color);
    line-height: 1.4;
}

h1, h2, h3, h4 {

    font-family: 'LFT Ethica', sans-serif;
    font-weight: bold;
    letter-spacing: .2rem;
}

h1 {
    font-size: var(--h1-size);
    margin: 0.47em 0;
}

h2 {

    font-size: 2rem;
    margin: 0.47em 0;
}

h3{
    font-size: 1rem;
}

h4{
    font-weight:500;
    font-size: 1rem;
}

button{
    font-family: inherit;
    font-weight:100;
    font-size: 1rem;
    letter-spacing: .1rem;
    line-height: 1.4;
}

/*TEXT COLOR*/
.white{
    color:white;
}

/*TEXT JUSTIFICATION*/
.text_left{
    text-align: left;
}

.text_right{
    text-align: right;
}

.text_center{
    text-align: center;
}

/*HIGHLIGHT SELECTION*/

::selection {
    background: var(--theme-background-primary);
}

/*TEXT RENDERING*/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, a {
    text-rendering: optimizelegibility;
}